name: Run Lab2 Script

on: [push]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Lancer le script lab2
        run: ./pipelines/script.sh