name: Run Lab2 Script

on: [push]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18' 

      - name: Installer pnpm
        run: npm install -g pnpm

      - name: Installer les dépendances
        run: pnpm install --no-frozen-lockfile

      - name: Lancer le script lab2
        run: ./pipelines/script.sh
